.flex{
    display: flex;
    justify-content: space-between;
}
.inline{
    display: flex;
}
.center{
    text-align: center;
}
.red{
    color: #fb5c4d;
}
.mt-top{
    margin-top: 10px;
}
.padding{
    padding: 10px;
}